<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      
      socket.on('message', function(activeUser) {
        console.log('acive users updated', activeUser);
      });
    </script>
    <%= activeUsers %>
  </body>
</html>
