<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <%= activeUsers %>
    <script>
      const socket = io({
        path: "/myownpath"
      });
      const socketCount = io.of("/admin").sockets.size;
      console.log(socketCount);
      
    </script>
  </body>
</html>
