<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <%= activeUsers %>
    <script>
      var socket = io();
      const socketCount = io.of("/socket.io").sockets.size;
      console.log("Bleh", socketCount);
    </script>
  </body>
</html>
